:root{
    --main-color: #612e09c0;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
} 

html {
    scroll-behavior: smooth;

}


body {
    font-family: 'Work Sans', sans-serif;
}


.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;


}
/* small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* meduim */
@media (min-width: 992px) {
    .container {
        width: 950px;
    }
}

/* large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* components */
 .special-heading {
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;


 }

 .special-heading + p {
    margin: -25px 0 0;
    font-size: 20px;
    text-align: center;
    color: #797979;
 }
 @media (max-width:767px){
    .special-heading {
        font-size: 60px;
    }
    .special-heading + p{
        margin-top: -20px;
    }
 }


/* end components */
/* header */

.header {
    padding: 20px;

}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center; 

}

.header .logo {
    width: 35px;
}

.header .links {
    position: relative;
   
}

.header .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
   display: none;
   z-index: 1;


}

.header .links ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 5px;
    top: -20px;

}

.header .links:hover ul {
    display: block;
}

.header .links ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: 0.3s;
}

.header .links ul li a:hover {
    padding-left: 25px;
}

.header .links ul li:not(:last-child) a{
    border-bottom: 1px solid;
}
  /* end header */

    /* landing section  */
    .landing {
        background-image: url(../imges/cat-sneaking-look-from-white-screen_60438-3711.jpg);
        background-size: cover;
        width: 100%;
        height: calc(100vh - 65px);
        position: relative;
    }

    .landing .intro-text {
        position: absolute;
        left: 5%;
        top: 20%;
        text-align: left;
    
        width: 320px;
        max-width: 1000%;


    }

    .landing .intro-text h1{
        margin: 0;
        font-weight: 800;
        font-size: 50px;
        color: var(--main-color);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
        
    }

    .landing .intro-text p{
        font-size: 16px;
        line-height: 1.8;
        color: #777;
        
    }
    /* end landing section  */

    /* features */
    .features {
        padding-top: 60px;
        padding-bottom: 60px;
        background-color: #f6f6f6;
    }
    .features .container {
        display: grid;
        grid-template-columns: repeat( auto-fill , minmax(300px ,1fr));
        grid-gap: 20px;


    }
    .features .container .feat img {
        width: 60px;
    }

    
    .features .feat {
        padding: 20px;
        text-align: center;
    }

  

    
    .features .feat h3 {
        font-weight: 800;
        margin: 30px 0;

    }

    .features .feat p {
        line-height: 1.8;
        color: #777;
        font-size: 17px;

    }
    
      /* end features */


      /* start services */

      .Services {
        padding-top: 60px;
        padding-bottom: 60px;
        
        
      }

      .Services .services-content {

        display: grid;
        grid-template-columns: repeat( auto-fill , minmax(260px ,1fr));
        grid-gap: 30px;
        margin-top: 100px;
      }

      .Services .services-content .srv {
         
    margin-bottom: 20px; 
          
        

      }
     
      .Services .services-content .srv .text {
        flex: 2 ;
        margin-top: 20px;
        transition: 0.2s;
        display: block;
      }

      .Services .services-content .srv .text  h3 {
        margin: 0 0 30px;

      }
      .Services .services-content .srv .text  h3:hover {

        color: slategray;
        

      }

      
      .Services .services-content .srv .text  p {
        color: #444;
        line-height: 1.6;
        font-weight: 300px;

        
      }

      .Services .services-content .srv img {
       width: 60px;
      }
      .Services .services-content .srv .text  p:hover {

        color: rgb(125, 34, 18);
        padding: 15px;
        

      }

       /* end services */

      /*  portfolio */
      .Portfolio {
        padding-top: 60px;
        padding-bottom: 60px;
        background-color: #f6f6f6;

      }

      .Portfolio .portfolio-content {

        display: grid;
        grid-template-columns: repeat( auto-fill , minmax(300px ,1fr));
        grid-gap: 30px;
        margin-top: 80px;
      }

      .Portfolio .portfolio-content .card {
        background-color: white;

      }

      .Portfolio .portfolio-content .card img {
        min-width: 100%;
        width: 200px;

        
      }

      .Portfolio .portfolio-content .info {
        padding: 20px ;
      }

      .Portfolio .portfolio-content .info h3{
        margin: 0;
    
      }

      .Portfolio .portfolio-content .info  p{
        color: #777;
        line-height: 1.6;
        margin-bottom: 0;
      }
      /* end portfolio */

      /* About */
    .About{
        padding-top: 60px;
        padding-bottom: 120px;

    }
    .About .about-content {
        margin-top: 100px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
    }
    @media (max-width:991px) {
        .About .about-content {
            flex-direction: column;
            text-align: center;

        }

    }

    .About .about-content .image {
        position: relative;
        width: 237px;
        height: 474px;
    }

    
    @media (max-width:991px) {
        .About .about-content .image {
            margin: 0 auto 60px;
            

        }
        

        }


    .About .about-content .image::before{
        content: "";
        position: absolute;
        background-color: #ebeced;
        width: 100px;
        height: calc(100% + 80px);
        top: -40px;
        left: -20px;
        z-index: -1;

    }
    .About .about-content .image::after{
        content: "";
        top: -40px;
        position: absolute;
        width: 120px;
        height: 350px;
        border-left: 80px solid var(--main-color);
        border-bottom: 80px solid var(--main-color);
        z-index: -1;
        right: -150px;


    }

    @media (max-width:991px) {
        .About .about-content .image::before ,
        .About .about-content .image::after {
            display: none;

        }


        }
    .About .about-content .image img {
        max-width: 100%;
    }



    .About .about-content .text {
        flex-basis: calc(100% - 500px);
        margin-top: 30px;


    }

    .About .about-content .text p:first-of-type{
        font-weight: bold;
        line-height: 2;
        margin-bottom: 50px;

    }

    .About .about-content .text hr{
        width: 50%;
        border-color: var(--main-color);
        display: inline-block;

        
    }

    .About .about-content .text p:last-of-type{
        line-height: 2;
        color: #777;

        
    }


      /* end About */

      /* start Contact */
      .Contact {
        padding-top: 60px;
        padding-bottom: 60px;
        background-color: #f6f6f6;

      }
      .Contact .info {
        padding-top: 60px;
        padding-bottom: 60px;
        text-align: center;


      }

      .Contact .info .labal {
        font-size: 40px;
        font-weight: 800;
        color: #444;
        letter-spacing: -2px;
        margin-bottom: 15px;

      }
      .Contact .info .link {
         display: block;
         font-size: 35px;
         font-weight: 800;
         color: var(--main-color);
         text-decoration: none;
      }

      .Contact .info .social {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        font-size: 16px;
        
      }

      .Contact .info .social i {
        margin-left: 10px;
        color: #444;
      }

      @media (max-width:767px) {
        .Contact .info .labal,
        .Contact .info .link{
            font-size: 25px;

        }

        }

       /* end Contact */

 /* start footer */
 .footer {
    background-color: #777;
    color: white;
    padding: 30px 10px;
    text-align: center;
    font-size: 18px;
 }
 .footer span {
    font-weight: bold;
    color: var(--main-color);

 }

  /* end  footer */
      
      
